{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'auction:auction_list' %}"> Available Auctions</a></h2>

<h4 style="color:white"> Today: {{ today }} </h4>

<ul style="padding-left:15px">
    {% for auction in object_list %}
        {% if auction.auction_published == True %}
        <br>
        <li style="color:white"> Auction ID: {{ auction.auction_id }} <br>
            <ul style="padding-left:30px">
                <li> Start Date: {{ auction.auction_start }} </li>
                <li> End Date: {{ auction.auction_end }} </li>
                <li> Status: {{ auction.auction_status }}</li>

                    <li style="color:white">Available Lots in this Auction: <br>
                        {% for lot in lot_list %}
                            {% if lot.auction_ref_id == auction.auction_id %}
                            
                            <div>
                                <ul style="padding-left:45px">
                                    <li> Lot name: {{ lot.lot_name }}</li>
                                        {% if auction.auction_status == "ON GOING" %}
                                            <a href="{% url 'auction:make_bid' auction.id lot.id%}"><button>Make a Bid!</button> </a>

                                            

                                            <ul style="padding-left:60px; font-size:14px">
                                                <li> Number of Bids Made: {{ lot.number_of_bids_made }} </li>
                                                <li> Current Winner Buyer: {{ lot.current_winner_buyer }} </li>
                                                <li> Highest Value Bid: {{ lot.highest_value_bid }} </li>
                                            </ul>
                                        {% endif %}
                                        {% if auction.auction_status == "FINISHED" %}
                                            {% if lot.is_higher_than_reserve == "TRUE" %}
                                                {% comment %} <a href="{% url 'auction:make_bid' auction.id lot.id%}"><button>Make a Bid!</button> </a> {% endcomment %}
                                                <ul style="padding-left:60px; font-size:14px">
                                                    <li> Number of Bids Made: {{ lot.number_of_bids_made }} </li>
                                                    <li> Winner Buyer: {{ lot.current_winner_buyer }} </li>
                                                    <li> Winner Value Bid: USD{{ lot.highest_value_bid }} </li>
                                                </ul>
                                            {% endif %}
                                            {% if lot.is_higher_than_reserve != "TRUE" %}
                                                {% comment %} <a href="{% url 'auction:make_bid' auction.id lot.id%}"><button>Make a Bid!</button> </a> {% endcomment %}
                                                <ul style="padding-left:60px; font-size:14px">
                                                    <li> Number of Bids Made: {{ lot.number_of_bids_made }} </li>
                                                    {% comment %} <li> IS HIGHER: {{ lot.is_higher_than_reserve }} </li> {% endcomment %}
                                                    <li> The reserve price could not be matched.</li>
                                                </ul>
                                            {% endif %}
                                        {% endif %}
                                </ul>
                            </div>

                            
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
