{% extends "base.html" %}

{% block content %}

<h4 style="padding-left:15px"><a href="{% url 'auction:auction_list' %}">Return to Available Auctions</a></h4>

<hr>

<h3 style="padding-left:15px;color: white; font-size:30px">This lot details and rules are: </h3> 

<ul style="padding-left:50px">

    <li><strong>Name</strong>: {{ lot.lot_name }} </li>
    <li><strong>Seller Contact (E-mail)</strong>: {{ lot.seller_contact }} </li>
    <li><strong>Description</strong>: {{ lot.lot_description }} </li>
       
    <li><strong>Minimal Bid (USD)</strong>: {{ lot.minimal_bid }} </li>
    <li><strong>Minimum Bid Increment (USD)</strong>: {{ lot.minimum_bid_increment }} </li>

    <li><strong>Number of Bids Made</strong>: {{ lot.number_of_bids_made }} </li>
    <li><strong>Current Winner Buyer</strong>: {{ lot.current_winner_buyer }} </li>
    <li><strong>Highest Value Bid (USD)</strong>: {{ lot.highest_value_bid }} </li>
    
</ul>

<hr>

<h3 style="padding-left:15px;color: white; font-size:30px">Make your bid here: </h3> <br>

<div class="input-field" align="center">
    <form method="post" class="form inputforms-lot-bid">{% csrf_token %}
        {{ bid_form.as_p }}
        <input type="Submit" value="Submit Bid" class="button button1" style="margin-left:160px"/>
    </form>
</div>
<br>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            my_message = "{{ message }}";
            alert(my_message);
            if(my_message=="Successful bid made!"){
                window.location.href = "../../../";
            }
        </script>
    {% endfor %}
{% endif %}

{% endblock %}