{% extends "base.html" %}

{% block content %}

<h2 style="padding-left:15px"><a href="{% url 'auction:auction_list' %}">Return to Available Auctions</a></h2>

<br><hr><br>

<h3 style="padding-left:15px;color: white">This lot details and rules are: </h3> <br>

<ul style="padding-left:50px">

    <li>Name: {{ lot.lot_name }} </li>
    <li>Seller Contact (E-mail): {{ lot.seller_contact }} </li>
    <li>Description: {{ lot.lot_description }} </li>
       
    <li>Minimal Bid (USD): {{ lot.minimal_bid }} </li>
    <li>Minimum Bid Increment (USD): {{ lot.minimum_bid_increment }} </li>

    <li>Number of Bids Made: {{ lot.number_of_bids_made }} </li>
    <li>Current Winner Buyer: {{ lot.current_winner_buyer }} </li>
    <li>Highest Value Bid (USD): {{ lot.highest_value_bid }} </li>
    
</ul>

<br><hr><br>

<h3 style="padding-left:15px;color: white">Make your bid here: </h3> <br>

<form method="post" style="padding-left:50px">{% csrf_token %}
    {{ bid_form.as_p }}
    <input type="Submit" value="Submit Bid" />
</form>

<br>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("Oops...invalid bid! Please enter a valid value.");
        </script>
        {% comment %} <h3{% if message.tags %} class="{{ message.tags }}"{% endif %} style="padding-left:50px;color:red"> {{ message }} </h3> {% endcomment %}
    {% endfor %}
{% endif %}

{% endblock %}