{% load static %}
<!--This is the base template-->
<!DOCTYPE html>

<html lang=”en”>
<meta charset=”utf-8″>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favorite Bid System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
</head>

<body>

    <div class="header">
        <h1><a href="/" style="width: 10px;"><img src="{% static '/images/logo.png' %}" alt="Bid Coin" width=30% height=30%></a></h1>
        <nav id="menu-h">
            <ul>
                <li style="font-family: 'Montserrat', sans-serif; font-size:12px;" 
                th:classappend="${module == 'home' ? 'active' : ''}">
                 <a href="{% url 'auction:auction_list' %}">Available Auctions</a>
                </li>	

                <li style="font-family: 'Montserrat', sans-serif; font-size:12px; " 
                th:classappend="${module == 'home' ? 'active' : ''}">
                <a href="{% url 'auctioneer:auction_list' %}">Auctioneer</a>
                </li>
    
                <li style="font-family: 'Montserrat', sans-serif; font-size:12px; " 
                th:classappend="${module == 'home' ? 'active' : ''}">
                <a href="{% url 'lot_user:lot_list' %}">Seller</a>
                </li>
                
            </ul>
        </nav>
    </div>

    <div id="content">
        {% if user.is_authenticated %}
        <div id="user" style="padding-left:15px; float:right; font: 'Montserrat'; font-size:12px;">
            Hello {{ user }}, <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div><!-- content -->
    
    <div id="footer">
    </div>
</body>

</html>