{% load static %}
<!--This is the base template-->
<!DOCTYPE html>

<html lang=”en”>
<meta charset=”utf-8″>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR FAVORITE VIRTUAL BID SYSTEM</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
</head>

<body>

    <div class="header">
        {% if user.is_authenticated %}
        <div id="user">
            Hello {{ user }}, <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}
        <h1><a href="/" style="width: 600px; float: left;">Virtual Bid System</a></h1>

    </div><!-- header -->

    <div id="content">
        {% block content %}
        {% endblock %}
    </div><!-- content -->
    
    <div id="footer">
    </div>
</body>

</html>