{% extends "base.html" %}

{% block content %}

<div style="float: left;">

    <div>
        <p style="color:white; padding-top: 20px; padding-left:15px; font-family: 'Montserrat', sans-serif; font-size:25px;"> Welcome to Bid Coin! </p>
        <br>
        <p style="color:white; padding-top: 20px; padding-left:15px; font-family: 'Montserrat', sans-serif; font-size:15px;"> Take a chance in the lots of your dreams at Bid Coin! <br> Go to Available Auctions to check the current auctions. </p>
        
    
    </div> 
</div>

{% endblock %}