{% extends "base.html" %}

{% block content %}

<div class="wrapper" style="float: right;">
    <!-- Sidebar Holder -->
    <nav id="menu-h">
        <ul>
            <li style="font-family: 'Montserrat', sans-serif; font-size:12px;" 
            th:classappend="${module == 'home' ? 'active' : ''}">
             <a href="{% url 'lot:lot_list' %}">Lots (no need to login)</a>
            </li>	

            <li class="font-weight-bold" style="font-family: 'Montserrat', sans-serif; font-size:12px; " 
            th:classappend="${module == 'home' ? 'active' : ''}">
            <a href="{% url 'lot_user:lot_list' %}">View based on function with user login</a>
            </li>
            
        </ul>
    </nav>
</div>

{% endblock %}