{% extends "base.html" %}

{% block content %}

{% with blank_default='-' %}
{% with number_default=0 %}

<h2><a href="{% url 'lot_user:lot_list' %}">Lot</a>: Edit</h2>

<form style="color:white" method="post">{% csrf_token %}

    Minimal Bid (USD): {{ form.minimal_bid }} <br>
    Minimum Bid Increment (USD): {{ form.minimum_bid_increment }} <br>
    Comissions (%): {{ form.comissions }} <br>
    Taxes (%): {{ form.taxes }} <br>
    <br>

    <input type="submit" value="Submit" class="button button1"/>
</form>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            my_message = "{{ message }}";
            alert(my_message);
            if(my_message=="Successful lot edition!"){
                window.location.href = "../../../auctioneer";
            }
        </script>
    {% endfor %}
{% endif %}

{% endwith %}
{% endwith %}

{% endblock %}