{% extends "base.html" %}

{% block content %}

{% with blank_default='-' %}
{% with number_default=0 %}

<h2 style="color:white"><a href="{% url 'lot_user:lot_list' %}">Lot</a>: Edit</h2>

<form style="color:white" method="post">{% csrf_token %}
    Name: {{ form.lot_name }}<br>
    Seller Contact: {{ form.seller_contact }} <br>
    Description: {{ form.lot_description }} <br>
    Reserve Price: {{ form.reserve_price }} <br>
    <br>
    Minimal Bid: {{ form.minimal_bid.value }} <br>
    Minimum Bid Increment: {{ form.minimum_bid_increment }} <br>
    Comissions: {{ form.comissions }} <br>
    Taxes: {{ form.taxes }} <br>
    <br>
    Sequential UUID: {{ form.sequential_uuid }} <br>
    Number of Bids Made: {{ form.number_of_bids_made }} <br>
    Current Winner Buyer: {{ form.current_winner_buyer }} <br>
    Highest Value Bid: {{ form.highest_value_bid }} <br>

    <input type="submit" value="Submit" />
</form>

{% endwith %}
{% endwith %}

{% endblock %}