{% extends "base.html" %}

{% block content %}

{% with blank_default='-' %}
{% with number_default=0 %}

<h4 style="color:white"><a href="{% url 'lot_user:lot_list' %}">Lot</a>: Edit</h4>

<div class="input-field" align="center">
    <form method="post" class="form inputforms-lot-edit">{% csrf_token %}
        Name: {{ form.lot_name }}<br>
        Seller Contact: {{ form.seller_contact }} <br>
        Description: {{ form.lot_description }} <br>
        Reserve Price (USD): {{ form.reserve_price }} <br>
        <br>
        <input type="submit" value="Submit" class="button button1" style="margin-left:180px"/>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            my_message = "{{ message }}";
            alert(my_message);
            if(my_message=="Successful lot edition!"){
                window.location.href = "../../";
            }
        </script>
    {% endfor %}
{% endif %}

{% endwith %}
{% endwith %}

{% endblock %}