{% extends "base.html" %}

{% block content %}

<h2 style="padding-left:15px"><a href="{% url 'lot_user:lot_list' %}">Lotes</a></h2>

<ul>
    {% for lot in object_list %}
    <li style="padding-left:15px">{{ lot.lot_name }}  ({{ lot.minimal_bid }})
    <a href="{% url 'lot_user:lot_edit' lot.id %}">Edit</a>
    <a href="{% url 'lot_user:lot_delete' lot.id %}">Delete</a>
    <a href="{% url 'auctioneer:auction_add_lot'%}">Delete</a>
    </li>
    {% endfor %}
</ul>

<a style="padding-left:15px" href="{% url 'lot_user:lot_new' %}">Novo</a>

{% endblock %}